 <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card class="md-whiteframe-24dp">
        <img ng-src="img/primero.png" class="md-card-image" alt="Washed Out">
          <md-card>        
            <md-card-title>        
              </md-card-title>
              <md-card-content>
            <p>           
          </p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
<div class="main row" ng-controller="ctrl1Ventana">
          <md-button class="md-raised md-primary" ng-click="irview2()">ir a oficina</md-button>
                </div>

<a href="http://localhost/LICORERIA_GESTION%20-%20Copy/#/alta"> Ignorar Invitacion</a>  
<br>
<a href="http://localhost/maps/"> Ver Mapa</a>  
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">  
 <md-card class="md-whiteframe-20dp" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" id="h1Titulo">personaje</span>
            <span class="md-subhead" id="pParrafo">dialogo</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
    <img id="iImagen" src="img/1New%20canvas.png" width="300" height="300">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share" id="btn" onclick="prueba()">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="md-whiteframe-20dp">        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">instrucciones</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
           debes estar alerta a los dialogos ya que ellos te daran la opcion de continuar con la historia
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>     
      
    </div>
  </md-content>
</div>